.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  color: white;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.logout-btn {
  background: #f43f5e;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.logout-btn:hover {
  background: #be123c;
}
